<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      <%=reserva.length %> Reservas
    </p>
    <ul>
      <%
        reserva.forEach(item => {
          %>
      <li><%= item.reserva %></li>
           <%
          })

      %>
    </ul>
  </body>
</html>
